@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  color: #525252;
  font-family: 'zocial', sans-serif;
  display: inline-block;
  width: 40px;
}

@media screen and (max-width:768px) {
  #my-pic {
    display: none;
  }
  section {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (min-width:992px) {
  .title-leet {
    padding-left: 20px;
  }
}

body {
    /*font-family: 'Droid Sans', sans-serif;*/
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

header {
  background-image: url("../images/header.jpg");
  background-size: cover;
  height: 100vh;
}

header .header-content {
  position: absolute;
  bottom: 10%;
  height: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

header .header-content .header-content-inner{
  text-align: center;
}

img {
  margin: 30px;
  width: 100px;
}

ul, li {
  display: inline-block;
}

section {
  padding-top: 40px;
  padding-bottom: 40px;
}

img {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

p {
  line-height: 30px;
  font-weight: normal;
}

.portfolio-box-caption {
  color: white;
  opacity: 0;
  display: block;
  background: rgba(66, 139, 202, 1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .35s;
}

.portfolio-box-caption-content {
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.item {
  position: relative;
  padding: 0;
}

.primary {
  border-color: rgba(66, 139, 202, 1);
  border-width: 3px;
  max-width: 50px;
}

.about-me {
  padding: 80px 0;
}

.about-title {
  margin-top: 10px;
}

#leetcode {
  background-color: #ebeeee;
  color: #7A7A7A;
}

.title-leet {
  color: rgba(66, 139, 202, 1);
  margin-top: 0px;
  padding-right: 0px;
}

.sub-title-leet {
  color: #000;
}

#contact {
  font-size: 20px;
}

.content-modal {
  text-align: left;
}

.phone {
  font-size: 40px;
}

.envelope {
  font-size: 40px;
}

.phone p, .envelope p {
  font-size: 20px;
}

footer {
  background-color: #0D0D0D;
  color: #303030;
}

.icons {
  margin-bottom: 30px;
  margin-top: 40px;
}

.copyright {
  margin-bottom: 30px;
}

.time-line {
  float: right;
}


#sub-title {
  color: white;
}

#portfolio {
  text-align: center;
}
